:root {
  --background: #ffffff;
  --box: #ececec;
  --inner-box: #d9d9d9;
  --text: #909090;
  --accent: #d9d9d9;
  --user-color-1: #ff146a;
  --user-color-2: #217852;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-box {
  background-color: var(--box);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

/* Bootstrap override */
.form-control {
  background-color: transparent;
  border-color: transparent;
  caret-color: var(--user-color-1);
  color: var(--text);
}
.form-control:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  box-shadow: none;
  color: var(--text);
}
.form-control::placeholder {
  color: var(--text);
}
.btn {
  color: var(--text);
}
