/* === GLOBAL === */

:root {
  --background-light: #ffffff;
  --box-light: #ececec;
  --inner-box-light: #d9d9d9;
  --text-light: #909090;
  --accent-light: #d9d9d9;
  --background-dark: #0d0d0d;
  --box-dark: #222222;
  --inner-box-dark: #373737;
  --text-dark: #777777;
  --accent-dark: #434343;
  --user-color-1: #ff146a;
  --user-color-2: #217852;
}

html,
body {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--background-light);
  color: var(--text-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* used to wrap every component */
.frame {
  border-radius: 10px;
  background: var(--box-light);
}

.button {
  background-color: var(--user-color-1);
  color: var(--background-light);
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 600;
}

/* === LOBBY === */

.page-wrapper .chat {
  border-radius: 10px;
  background: var(--box-light);
}

/* === DARK MODE === */

body.dark .page-wrapper {
  background: var(--background-light) !important;
}

/* === CHAT === */

.message .you {
  border-radius: 5px;
  background: red;
}

.message .other {
  border-radius: 10px;
  background: red;
}

.chat-input,
.chat-input::placeholder {
  border: none;
  outline: none;
  background: none;
  color: var(--text-light);
}

.chat-send-button {
  fill: var(--text-light);
}

/* === SETTINGS === */

.dropdown {
  background-color: var(--inner-box-light);
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  outline: none;
}

.dropdown:focus {
  outline: none;
  border: none;
}

/* === PLAYER OVERVIEW === */

.profile-card .profile .player.you .name {
  font-weight: 800;
  font-size: 30px;
}

.profile-card .profile .player.other .name {
  font-weight: 800;
  font-size: 15px;
}

.profile-card .profile.you .player .stats {
  font-size: 15px;
}

.profile-card .profile.other .player .stats {
  font-size: 8px;
}
