/* === GLOBAL === */

:root {
  --background-light: #ffffff;
  --box-light: #ececec;
  --inner-box-light: #d9d9d9;
  --text-light: #909090;
  --accent-light: #d9d9d9;
  --background-dark: #0d0d0d;
  --box-dark: #222222;
  --inner-box-dark: #373737;
  --text-dark: #777777;
  --accent-dark: #434343;
  --user-color-1: #ff146a;
  --user-color-2: #217852;
}

html,
body {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--background-light);
  color: var(--text-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === LOBBY === */

.page-wrapper .chat {
  border-radius: 10px;
  background: var(--box-light);
}

/* === DARK MODE === */

body.dark .page-wrapper {
  background: var(--background-light) !important;
}

/* === CHAT === */

.chat {
  border-radius: 10px;
  background: var(--box-light);
}

.chat .box .message .you {
  border-radius: 5px;
  background: red;
}

.chat .box .message .else {
  border-radius: 10px;
  background: red;
}

.chat .bar .input,
.chat .bar .input::placeholder {
  border: none;
  outline: none;
  background: none;
  color: var(--text-light);
}

.chat .bar .symbol {
  fill: var(--text-light);
}
